body {
  background-color: gray;
}

#header {
  height: 300px;
  width: 50%;
  background-color: white;
  padding: 5px;
}

#headeritem {
  height: 200px;
  width: 75%;
  background-color: red;
  padding: 5px;
}

#headercontent {
  height: 100px;
  width: 50%;
  background-color: yellow;
  text-align: center;
}
