body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

fieldset,
input[type=submit] {
    width: 25%;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: antiquewhite;
}

fieldset label {
    text-align: left;
    font-size: 12px;
}

legend {
    background-color: #6a2703;
    color: #fff;
    padding: 3px 6px;
}