body {
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=submit],
select,
input[type=file],
fieldset {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 18px;
    box-sizing: border-box;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover {
    background-color: rgb(248, 237, 151);
}

fieldset {
    box-shadow: 2px 2px gray;
}